<% if (result) { %> 
      
        <div>                 
            <h2>Work: <%=result.name%></h2> 
            <h3>Artist: <%=result.artists[0].name%></h3> 
            <img id="album" src="<%=result.album.images[0].url%>"alt="hello">
        </div> 
      
        <div class="container">
          <div class="rating">
           
            <form class='stars'>
              <input type="radio" name='stars' value='5' id='five' class='star' hidden>
              <label for="five"><i class='fa fa-star'></i></label>
              <input type="radio" name='stars' value='4' id='four' class='star'hidden>
              <label for="four"><i class='fa fa-star'></i></label>
              <input type="radio" name='stars' value='3' id='three' class='star'hidden>
              <label for="three"><i class='fa fa-star'></i></label>
              <input type="radio" name='stars' value='2' id='two' class='star'hidden>
              <label for="two"><i class='fa fa-star'></i></label>
              <input type="radio" name='stars' value='1' id='one' class='star' checked hidden>
              <label for="one"><i class='fa fa-star '></i></label>
            </form>
          </div>
        </div>
        <audio controls>
            <source src="<%=result.preview_url%>" />
        </audio>
        <div class="faves">
          <form method="POST" action="/track">
            <input hidden type="text" name="name" value="<%= result.name %>">
            <input type="text" name="trackId" value="<%=result.id%>" hidden>
            <button class="btn btn-primary" type="submit">Add to Favorites</button>
          </form>
        </div>
<% } else { %> 
    <div>track not found</div>
<% } %> 

<%comments.forEach(comment=>{%>
  <div class="comment-area">
    <h5 class="comments"><%=comment.name%>: "<%=comment.content%>"</h5>
    <form id="update" action="/comment/<%=result.id%>?_method=PUT" method="POST"> 
      <input type="text" name="name" value="<%=comment.name%>" hidden> <!--this will desplay Name for the input and-->
      <input type="text" name="id" value="<%=comment.id%>" hidden> <!--this will desplay Name for the input and-->
      edit: <input class="text" type="text" name="content" value="<%=comment.content%>">
      <input type="text" name="trackId" value="<%=result.id%>" hidden>
      
      <button class="text" type="submit">Submit</button>
    </form>
  </div>
    <form  action="/comment/<%=comment.id%>?_method=DELETE" method="POST"> 
      <input type="text" name="track-id" id="track-id" value="<%=result.id%>"hidden>
      <button class="text" type="submit">DELETE</button>
    </form>
  </div>
    
  <%})%>
  
  
</div>
<!-- put form -->

<form class="com-details" action="/comment/<%=result.id%>" method="post">
 Name:<input class="input" type="text" name="name"  > <!--user name will be auto matic and hidden-->
   Comment: <input class="main-comment" class="input" type="text" name="content"><!--this will display Comment before-->
   <input type="text" name="trackId" value="<%=result.id%>" hidden><!--hidden text type-->
   <button type="submit">Submit</button>
</form>
   
