<% if (result) { %> 
      
        <div>                 
            <h2>Work: <%=result.name%></h2> 
            <h4>Artist: <%=result.artists[0].name%></h4> 
            <img src="<%=result.album.images[0].url%>"alt="hello">
        </div> 
        <audio controls>
            <source src="<%=result.preview_url%>" />
        </audio>
        <div class="faves">
          <form method="POST" action="/track">
            <input hidden type="text" name="name" value="<%= result.name %>">
            <input type="text" name="trackId" value="<%=result.id%>" hidden>
            <button class="btn btn-primary" type="submit">Add to Favorites</button>
          </form>
        </div>
<% } else { %> 
    <div>track not found</div>
<% } %> 
<h2commentthresad></h2commentthresad>
<%comments.forEach(comment=>{%>
  <div class="comment-area">
    <h5 class="comments"><%=comment.name%>: <%=comment.content%></h5>
    
    <form id="update" action="/comment/<%=result.id%>?_method=PUT" method="POST"> 
      <input type="text" name="name" value="<%=comment.name%>" hidden> <!--this will desplay Name for the input and-->
      <input type="text" name="id" value="<%=comment.id%>" hidden> <!--this will desplay Name for the input and-->
      edit: <input class="text" type="text" name="content" value="<%=comment.content%>">
      <input type="text" name="trackId" value="<%=result.id%>" hidden>
      <button class="text" type="submit">Submit</button>
    </form>
  </div>
  
  <%})%>
  
  
</div>
<!-- put form -->

<form class="com-details" action="/comment/<%=result.id%>" method="post">
 Name:<input class="input" type="text" name="name"  > <!--user name will be auto matic and hidden-->
   Comment: <input class="main-comment" class="input" type="text" name="content"><!--this will display Comment before-->
   <input type="text" name="trackId" value="<%=result.id%>" hidden><!--hidden text type-->
   <button type="submit">Submit</button>
</form>
   
