<% if (result) { %> 
      
        <div>                 
            <h2>Work: <%=result.name%></h2> 
            <h3>Artist: <%=result.artists[0].name%></h3> 
            <img id="album" src="<%=result.album.images[0].url%>"alt="hello">
        </div> 
      
<fieldset class="rating">
    <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
    <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
    <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
    <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
    <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
    <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
    <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
    <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
    <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
    <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
</fieldset>
        <audio controls>
            <source src="<%=result.preview_url%>" />
        </audio>
        <div class="faves">
          <form method="POST" action="/track">
            <input hidden type="text" name="name" value="<%= result.name %>">
            <input type="text" name="trackId" value="<%=result.id%>" hidden>
            <button class="btn btn-primary" type="submit">Add to Favorites</button>
          </form>
        </div>
<% } else { %> 
    <div>track not found</div>
<% } %> 

<%comments.forEach(comment=>{%>
  <div class="comment-area">
    <h5 class="comments"><%=comment.name%>: "<%=comment.content%>"</h5>
    
    <form id="update" action="/comment/<%=result.id%>?_method=PUT" method="POST"> 
      <input type="text" name="name" value="<%=comment.name%>" hidden> <!--this will desplay Name for the input and-->
      <input type="text" name="id" value="<%=comment.id%>" hidden> <!--this will desplay Name for the input and-->
      edit: <input class="text" type="text" name="content" value="<%=comment.content%>">
      <input type="text" name="trackId" value="<%=result.id%>" hidden>
      <button class="text" type="submit">Submit</button>
    </form>
  </div>
  
  <%})%>
  
  
</div>
<!-- put form -->

<form class="com-details" action="/comment/<%=result.id%>" method="post">
 Name:<input class="input" type="text" name="name"  > <!--user name will be auto matic and hidden-->
   Comment: <input class="main-comment" class="input" type="text" name="content"><!--this will display Comment before-->
   <input type="text" name="trackId" value="<%=result.id%>" hidden><!--hidden text type-->
   <button type="submit">Submit</button>
</form>
   
